model_config_list:{
    config:{
      name:"sewer_cls_2c_model",
      base_path:"/models/weights/sewer_cls_2c_model",
      model_platform:"tensorflow",
      model_version_policy:{
        specific {
          versions: 1
        }
      }
    },
    config:{
      name:"sewer_cls_14c_model",
      base_path:"/models/weights/sewer_cls_14c_model",
      model_platform:"tensorflow"
    }
}
